@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair', serif;
    min-height: 100vh;

}

.box {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.container {
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1px 1rem;
}

.box:first-child{
background-color: aqua;
}